footer {
  margin-left: 19em;
}

@media screen and (max-width: 480px) {
  footer {
    margin-left: 4em;
  }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  footer {
    margin-left: 8em;
  }
}
