.section {
  margin-left: 19em;
}

.text {
  color: #FFFFFF;
}

.linebreak {
  width: 75%;
  margin-left: 10em;
}

@media screen and (max-width: 767px) {
  .section {
    margin-left: 3em;
  }

  .linebreak {
    width: 80%;
    margin-left: 2em;
  }
}
